body{
    background-image: url("bg-desktop.svg");
    background-size: 80%;
    background-color: #6648B1;
    background-repeat: no-repeat;
    padding: 50px;
    width: 90% ;
    height: 1vmax;
    display: inline-block;
}
.top-container{ 
    width: max-content;
}
.chat-box{
    width: 9%;
    float: left;
    margin-top: 12px;
    margin-right: 8px;
}
.brand-name{
    display: inline;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 3rem;
    width: fit-content;
    color: white;
}

.mockups{
    margin: 50px 50px auto 0;
    width: 55%;
    float: left;
}

.container{
    display: inline-block;
}

.title{
    font-family: system-ui, 'Open Sans';
    color: white;
    line-height: 1.5;
    font-size: 3rem;
    margin-top: 120px;
    width: 600px;
}

.description{
    font-family: system-ui, 'Open Sans';
    line-break: strict;
    color: white;
    line-height: 1.5;
    font-size: 1.3rem;
    width: 600px;

}

.register-button{
    display: inline-block;
    background-color: white;
    -webkit-border-radius: 37;
    -moz-border-radius: 37;
    border-radius: 37px;
    padding: 10px 50px 10px 50px;

    font-family: system-ui, 'Open Sans';
    text-decoration-line: none;
    font-size: 1.3rem;
    text-align: center;
}

.register-button:hover{
    background-color: #e986e9;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.074);
}

.social-container{
    text-align: right;

    margin-top: 250px;
    margin-right: 0px;
}

.fb-button, .tt-button, .ig-button{
    width: 3%;
}
.ig-button{
    margin-left: 15px;
}
.tt-button{
    margin-left: 15px;
}

.fb-button:hover, .tt-button:hover, .ig-button:hover{
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.074);
}